<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerService" />
                <binding name="BasicHttpBinding_IServerService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3218/ServerService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServerService" contract="ServerService.IServerService"
                name="ServerService1" />
        </client>
    </system.serviceModel>
</configuration>